@model tongDe.Models.ViewModels.ClientVM
@{
    ViewData["Title"] = "Clients";
}

<div class='fixed bottom-0 left-0 z-10 w-full px-4 py-2 rounded-t-lg bg-gray-50 dark:bg-gray-900 '>
    <div class='flex items-center justify-between w-full max-w-md m-auto'>
        <a asp-controller="Shop" asp-action="Details" asp-route-id="@Model.ShopId" class='block py-1 pr-4'>
            <i class="text-xl text-gray-900 fa-solid fa-chevron-left dark:text-white"></i>
        </a>
        <a asp-action="Create" asp-controller="Item" asp-route-ShopId="@Model.ShopId"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Create
            Client</a>
    </div>
</div>

<div class="relative max-w-md pb-12 m-auto overflow-x-auto rounded-lg shadow-md sm:rounded-lg mb-7">
    <table class="w-full text-sm text-left text-gray-500 rtl:text-right dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    NAME
                </th>

                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">ACTION</span>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var client in Model?.Clients)
            {
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">

                    <td class="px-6 py-4">
                        <a asp-action="Details" asp-controller="Client" asp-route-id="@client.Id" class='link-text-2'>
                            @client.Name
                        </a>
                    </td>
                    <td class="gap-1 px-6 py-4 text-right">
                        <a class="link-text" asp-action="Edit" asp-controller="Client" asp-route-id="@client.Id">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
