@model tongDe.Models.ViewModels.ItemsVM
@{
    ViewData["Title"] = "Items";
}

<div class='fixed bottom-0 left-0 z-10 w-full px-4 py-2 rounded-t-lg bg-gray-50 dark:bg-gray-900 '>
    <div class='flex items-center justify-between w-full max-w-md m-auto'>
        <a asp-controller="Shop" asp-action="Details" asp-route-id="@Model.ShopId" class='block py-1 pr-4'>
            <i class="text-xl text-gray-900 fa-solid fa-chevron-left dark:text-white"></i>
        </a>
        <a asp-action="Create" asp-controller="Item" asp-route-ShopId="@Model.ShopId"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Create
            Item</a>
    </div>
</div>

<div class='max-w-md m-auto mb-3'>
    <form asp-controller="Shop" asp-action="Items" method='get' id='filter-form'>
        <div>
            <select id='item-category-select' name='itemCategoryId'
                class='w-40 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'>
                @if (Model.ItemCategories is null)
                {
                    <option value='-1' disabled>Do no set item category</option>
                }
                else
                {
                    <option value='0'>All</option>
                    @foreach (ItemCategory itemCategory in Model.ItemCategories)
                    {
                        <option value='@itemCategory.Id'>
                            @itemCategory.Name
                        </option>
                    }
                }
            </select>
        </div>
    </form>
</div>

<div class="relative max-w-md m-auto overflow-x-auto rounded-lg shadow-md sm:rounded-lg mb-7" id='main-item-section'>
    <table class="w-full text-sm text-left text-gray-500 rtl:text-right dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="w-2/12 py-3 pl-3">
                    Category
                </th>
                <th scope="col" class="w-10/12 pl-4">
                    NAME
                </th>

            </tr>
        </thead>
        <tbody id='item-table' class="bg-white dark:bg-gray-800">
            @if (Model.Items is not null && Model.Items.Count > 0)
            {
                @foreach (var item in Model.Items)
                {
                    <tr class="items-center w-full border-b dark:border-gray-700">
                        @if (item.ItemCategoryName is not null)
                        {
                            <td class='h-full py-3 text-center text-white rounded-l-lg bg-sky-600'>
                                @item.ItemCategoryName
                            </td>
                        }
                        else
                        {
                            <td class='w-1/12'></td>
                        }
                        <td class="flex items-center justify-between h-full pl-4">
                            <a asp-action="Details" asp-controller="Item" asp-route-id="@item.Id">
                                @item.Name
                            </a>
                            <span class='flex'>
                                <span class='items-center hidden' id='option-list-@item.Id'>
                                    <a asp-action="Edit" asp-controller="Item" asp-route-id="@item.Id"
                                        class="inline-flex items-center justify-center w-6 h-6 text-sm font-semibold text-gray-800 bg-gray-100 rounded-full me-2 dark:bg-gray-700 dark:text-gray-300">
                                        <i class=" fa-solid fa-trash-can hover:text-orange-500"></i>
                                    </a>

                                    <form asp-action="Delete" asp-controller="Item" method="post" asp-route-id="@item.Id">
                                        <button type='submit'
                                            class="inline-flex items-center justify-center w-6 h-6 text-sm font-semibold text-gray-800 bg-gray-100 rounded-full me-2 dark:bg-gray-700 dark:text-gray-300">
                                            <i class=" fa-solid fa-gear hover:text-red-600"></i>
                                        </button>
                                    </form>
                                </span>
                                <i class="px-4 py-3 fa-solid fa-chevron-left option-list-open-button"
                                    id='option-list-open-button-@item.Id' data-option-display-status='false'></i>
                            </span>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="w-full bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td colspan="2">
                        <div class="p-4 text-sm text-center text-red-600 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
                            role="alert">
                            <span>
                                No items found.
                            </span>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    <script type='module' vite-src='~/items.js'></script>
    <script type='module' vite-src='~/itemsFilter.js'></script>
}