@model tongDe.Models.ViewModels.ItemCategoryVM
@{
    ViewData["Title"] = "ItemCategories";
}
<div class='fixed bottom-0 left-0 z-10 w-full px-4 py-2 rounded-t-lg bg-gray-50 dark:bg-gray-900 '>
    <div class='flex items-center justify-between w-full max-w-md m-auto'>
        <a asp-controller="Shop" asp-action="Details" asp-route-id="@Model.ShopId" class='block py-1 pr-4'>
            <i class="text-xl text-gray-900 fa-solid fa-chevron-left dark:text-white"></i>
        </a>
        <a asp-action="Create" asp-controller="ItemCategory" asp-route-ShopId="@Model.ShopId"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Create
            Item Category</a>
    </div>
</div>

<div class="relative max-w-md m-auto overflow-x-auto rounded-lg shadow-md sm:rounded-lg mb-7" id='main-item-section'>
    <table class="w-full text-sm text-left text-gray-500 rtl:text-right dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="py-3 pl-3">
                    NAME
                </th>
            </tr>
        </thead>
        <tbody id='item-table'>
            @if (Model.ItemCategories is not null)
            {
                @foreach (var itemCategory in Model?.ItemCategories)
                {
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">

                        <td class="flex items-center justify-between pl-4">
                            <a href="#" class='link-text-2'>
                                @itemCategory.Name
                            </a>
                            <span class='flex'>
                                <span class='items-center hidden' id='option-list-@itemCategory.Id'>
                                    <a asp-action="Edit" asp-controller="ItemCategory" asp-route-id="@itemCategory.Id"
                                        class="inline-flex items-center justify-center w-6 h-6 text-sm font-semibold text-gray-800 bg-gray-100 rounded-full me-2 dark:bg-gray-700 dark:text-gray-300">
                                        <i class=" fa-solid fa-trash-can hover:text-orange-500"></i>
                                    </a>

                                    <form asp-action="Delete" asp-controller="ItemCategory" method="post"
                                        asp-route-id="@itemCategory.Id">
                                        <button type='submit'
                                            class="inline-flex items-center justify-center w-6 h-6 text-sm font-semibold text-gray-800 bg-gray-100 rounded-full me-2 dark:bg-gray-700 dark:text-gray-300">
                                            <i class=" fa-solid fa-gear hover:text-red-600"></i>
                                        </button>
                                    </form>
                                </span>
                                <i class="px-4 py-3 fa-solid fa-chevron-left option-list-open-button"
                                    id='option-list-open-button-@itemCategory.Id' data-option-display-status='false'></i>
                            </span>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="w-full bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td colspan="2" class="px-6 py-4">
                        <span class='text-xl font-bold text-red-600'>Items no found</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    <script type='module' vite-src='~/items.js'></script>
}