@model tongDe.Models.ViewModels.ItemsVM
@{
    ViewData["Title"] = "Items";
}

<div class='fixed bottom-0 left-0 z-10 w-full px-4 py-2 rounded-t-lg bg-gray-50 dark:bg-gray-900 '>
    <div class='flex items-center justify-between w-full max-w-md m-auto'>
        <a asp-controller="Shop" asp-action="Details" asp-route-id="@Model.ShopId" class='block py-1 pr-4'>
            <i class="text-xl text-gray-900 fa-solid fa-chevron-left dark:text-white"></i>
        </a>
        <a asp-action="Create" asp-controller="Item" asp-route-ShopId="@Model.ShopId"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Create
            Item</a>
    </div>
</div>

<div class="relative max-w-md m-auto overflow-x-auto rounded-lg shadow-md sm:rounded-lg mb-7" id='main-item-section'>
    <table class="w-full text-sm text-left text-gray-500 rtl:text-right dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    NAME
                </th>

                <th scope="col" class="px-6 py-3">
                    <span class="sr-only">ACTION</span>
                </th>
            </tr>
        </thead>
        <tbody id='item-table'>
            @if (Model.Items is not null)
            {
                @foreach (var item in Model?.Items)
                {
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">

                        <td class="px-6 py-4">
                            <a asp-action="Details" asp-controller="Item" asp-route-id="@item.Id" class='link-text-2'>
                                @item.Name
                            </a>
                        </td>
                        <td class="gap-1 px-6 py-4 text-right ">
                            <i class="px-4 py-2 fa-solid fa-chevron-down option-list-open-button"
                                id='option-list-open-button-@item.Id' data-option-display-status='false'></i>
                        </td>
                    </tr>
                    <tr class="hidden w-full bg-white border-b dark:bg-gray-800 dark:border-gray-700 option-list"
                        id='option-list-@item.Id'>
                        <td colspan="2">
                            <div class="flex items-center justify-end w-full gap-3 px-4 py-2">

                                <form asp-action="Delete" asp-controller="Item" method="post" asp-route-id="@item.Id">
                                    <button type="submit"
                                        class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                </form>

                                <a class="focus:outline-none text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:ring-yellow-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:focus:ring-yellow-900"
                                    asp-action="Edit" asp-controller="Item" asp-route-id="@item.Id">
                                    <i class="fa-solid fa-gear"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="w-full bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    <td colspan="2" class="px-6 py-4">
                        <span class='text-xl font-bold text-red-600'>Items no found</span>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts {
    <script type='module' vite-src='~/items.js'></script>
}